**/keys/*
**/inventory/*.yaml
**/inventory/*.inventory

# Intellij
.idea/*

# Local .terraform directories
.terraform

# .tfstate files
*.tfstate
*.tfstate.*
*.hcl

# template files with your config info
*.template

#Mac files
.DS_Store
